Repository twilio-labs/open-pixel-art, pull requests merged in 2021-01, with the labels that each got.

#3161 updated pixels.json with new property
  _data/pixels.json
Labels: needs-help, pixel-contribution

#3316 test
  _data/pixels.json
Labels: pixel-contribution

#3333 MasterWanna
  _data/pixels.json
Labels: needs-help, pixel-contribution

#3337 feat(pixels): add my new pixel
  _data/pixels.json
Labels: needs-help, pixel-contribution

#3361 modified: _data/pixels.json
  _data/pixels.json
Labels: needs-help

#3408 feat(pixels): add my new pixel
  _data/pixels.json
Labels: needs-help

#3435 Test branch
  _data/pixels.json
Labels: needs-help, needs-review
